*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #1E1E1E;
  color: white;
}
.container {
  display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}
.image {
  position: absolute;
  width: 597px;
  height: 556px;
  left: 34px;
  top: 242px;
  
}
.text1{
  position: absolute;
width: 735px;
height: 100px;
left: 725px;
top: 265px;

font-family: 'Fahkwang';
font-style: normal;
font-weight: 500;
font-size: 54px;
line-height: 70px;

color: #FFFFFF;
}
.text2{
  position: absolute;
width: 698px;
height: 94px;
left: 736px;
top: 536px;
font-family: 'Fahkwang';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 47px;

color: #FFFFFF;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1E1E1E;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .logo img {
  height: 70px;
  }
  nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  }
  nav li {
  margin-right: 20px;
  }
  nav a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 2px 20px;
  text-align: horizontal;
  }
  nav a:hover {
  color: #E0FE10;
  }

.text3{
  position: absolute;
width: 698px; 
height: 94px;
left: 736px;  
top: 736px;

}
input[type="submit"]{
  background-color: #E0FE10;
  border: 1px solid #1E1E1E;
  color: #1E1E1E;
  padding: 10px;
  font-size: 36px;
  cursor: pointer;
  border-radius: 5px;
  width: 294px;
height: 63px;
left: 994px;
top: 739px;
}
input[type="submit"]:hover {
  background-color: #1E1E10;
  color: #E0FE10;
  border: 1px solid #E0FE10;
  } 
input[type="button"]{
  background-color: #E0FE10;
  color: #1E1E1E;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #E0FE10;
  padding: 10px 20px;
  font-weight: bold;
  }
  input[type="button"]:hover {
    background-color: #1E1E10;
    color: #E0FE10;
    border: 1px solid #E0FE10;
    }
    